
TestNinja/.vs/TestNinja/v16/.suo
TestNinja/.vs/TestNinja/v16/Server/sqlite3/db.lock
TestNinja/.vs/TestNinja/v16/Server/sqlite3/storage.ide
TestNinja/.vs/TestNinja/v16/Server/sqlite3/storage.ide-shm
TestNinja/.vs/TestNinja/v16/Server/sqlite3/storage.ide-wal
TestNinja/.vs/TestNinja/v16/TestStore/0/000-0000.testlog
TestNinja/.vs/TestNinja/v16/TestStore/0/testlog.manifest
